@model BusinessManagementSystemApp.Models.Models.ItemViewModel
@{
    ViewBag.Title = "ItemDelete";
}
<div class="container" style="width:70%;margin-top:3%;">
    <div class="form-group row">
        <a style="margin-top:2%" href="/Item/Index" class="btn btn-info"><i class="glyphicon glyphicon-list"></i> Item List</a><hr />
        <h3 class="text-danger">Are you sure to delete <b style="background-color:yellow;"><u>'@Model.Name'</u></b> item?</h3>
    </div>
</div>
@if (Model != null)
{
    <div class="container" style="margin-top:1%;">
        <form method="post">
            <input type="hidden" name="Id" value="@Model.Id" />           
            <div class="form-group row">
                <div class="col-md-2"></div>
                <div class="col-md-2">
                    <label>Item Name</label>
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" name="Name" value="@Model.Name" readonly />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2"></div>
                <div class="col-md-2">
                    <label>Price</label>
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" name="Price" value="@Model.Price" readonly />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4"></div>
                <div class="col-md-5">
                    <input type="submit" class="btn btn-block btn-danger" value="Confirm Delete" />
                </div>
                <div class="col-md-3"></div>
            </div>
        </form>
    </div>
}
